<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner list-categories">
        <span><%- page.content %></span>
    </div>
</section>